/* ==== Styles ==== */



/* ==== Main Functions ==== */

body {

    margin: 0;

}



/* ==== Classes ==== */

.grid-container {

    display: grid;
    width: 70vw;

}

.img-size {

    max-width: 50vw;
    height: auto;

}

.center {

    margin-left: auto;
    margin-right: auto;

}