/* ==== Styles ==== */



/* ==== Main Functions ==== */

body {

    color: aquamarine;
    background-color: black;

}



/* ==== Classes ==== */

.grid-container {

    display: grid;
    width: 100vw;
    background-color: rgba(0, 140, 255, 0.1);

}

.col-3 {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    background-color: rgba(0, 140, 255, 0.1);

}

.img-size {

    width: 50%;
    height: auto;

}

.center {

    margin-left: 50vw;
    transform: translateX(-50%);

}